SITE_URL=https://sparamer.com
NEXT_PUBLIC_SHOW_STYLEGUIDE=0
ZOHO_WEBFORM_ACTION_URL=https://crm.zoho.com/crm/WebToLeadForm
ZOHO_WEBFORM_ACTION_TYPE=TGVhZHM=
ZOHO_WEBFORM_XNQSJSDP=
ZOHO_WEBFORM_XMIWTLD=
ZOHO_WEBFORM_RETURN_URL=null
ZOHO_ACCOUNTS_DOMAIN=https://accounts.zoho.com
ZOHO_API_DOMAIN=https://www.zohoapis.com
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_LEADS_MODULE=Leads
ZOHO_DIAGNOSTIC_MODULE=Diagnostic_Submissions
ZOHO_LEAD_SOURCE_VALUE=Website - Diagnostico